body {
  margin: 0;
  font-family: system-ui, -apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -moz-appearance: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
