body,
html {
  margin: 0;
  font-family: system-ui, -apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }
}

.ql-container {
  font-family: system-ui, -apple-system !important;
  line-height: 2 !important;
}

.custom-quill .ql-editor {
  line-height: 1.8 !important; /* Adjust the line height as per your requirement */
  font-size: medium;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
